html {
box-sizing: border-box; 
}
*,
*::before,
*::after {
   box-sizing: inherit; 
}

:root {
    --main-color: #2E2F42;
    --secondary-color: #434455;
    --first-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --white-general-color: #FFFFFF;
    --logo-iteam-decor: #4D5AE5;
    --header-button: #404BBF;
    --white-secondary-color: #F4F4FD;
    --section-team-color: #F4F4FD;
    --line-footer-color: #E7E9FC;
    --bg-gradient:rgba(46, 47, 66, 0.7);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}

.img {
    display: block;
}

body {
    color: var(--main-color);
    background-color: var(--white-general-color);
    font-family: var(--first-font);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header {
border-bottom: 1px solid var(--line-footer-color);
}


.container-header {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
} 


.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.footer-text-container {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--line-footer-color) ;
    border-top: none;
}


.logo-link {
    margin-right: 76px;
    color: var(--main-color);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}


.logo {
    color: var(--logo-iteam-decor);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}


.footer-logo-span {
    color: var(--white-secondary-color);
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}
  

.navigation-link {
    display: block;
    padding: 24px 0;
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {
    color: var(--header-button);
}


.navigation-list .navigation-link:active {
    text-decoration: underline;
    color: var(--header-button);
}


.navigation-list {
    display: flex;
}


.navigation-item:not(:last-child) {
    margin-right: 40px;
}


.adress-link {
    color: var(--secondary-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.adress-item + .adress-item {
    margin-left: 40px;
}


.adress-list .adress-link:hover,
.adress-list .adress-link:focus {
    color: var(--header-button);
}


.adress-list {
    display: flex;
}


.main-title {
    margin-bottom: 48px;
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-general-color);
    margin-left: auto;
    margin-right: auto;
}


.main-section {
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--main-color);
    background-image: linear-gradient(
    var(--bg-gradient),
    var(--bg-gradient)
    ),
    url(../images-2/image-0.jpg);  
}


.main-button {
    font-family: inherit;
    color: var(--white-general-color);
    background-color: var(--logo-iteam-decor);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    font-size: 16px;
}


.main-button:hover,
.main-button:focus {
    color: var(--white-general-color);
    background-color: var(--header-button);
    cursor: pointer;
}


.adress {
    font-style: normal;
    margin-left: auto;
}


.hero-button {
    font-family: inherit;
    color: var(--logo-iteam-decor);
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--footer-color);
    padding: 12px 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}


.hero-button:hover,
.hero-button:focus {
    color: var(--white-general-color);
    background-color: var(--header-button);
    cursor: pointer;
}


.hero-button:active {
    color: var(--main-color);
}


.hero-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
}


.hero-text {
    color: var(--secondary-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--section-team-color); 
}


.footer-about {
  padding-top: 100px; 
  padding-bottom: 100px;
 background-color: var(--main-color);
}


.footer-logo {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--line-footer-color);
}


.future-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.icon-strategy::before {
    background-image: url(../images-2/antenna\ 1.svg);
}

.icon-punctuality::before {
    background-image: url(../images-2/clock\ 1.svg);
}

.icon-diligence::before {
    background-image: url(../images-2/diagram\ 1.svg);
}

.icon-technologies::before {
    background-image: url(../images-2/astronaut\ 1.svg);
}

.future-icon::before {
    display: block;
    content: "";
    height: 112px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white-secondary-color);
}

.future-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
}



.future-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}


.future-list {
    display: flex;
}


.future-item {
width: 264px;
margin-right: 24px;
}


.future-item:nth-child(4) {
    margin-right: 0;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.apps-subtitle {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
}


.apps-section {
    padding-bottom: 120px;
}

img {
    display: block;
}

.image-item-apps:not(:last-child) {
    margin-right: 24px;
}

.image-apps {
    display: flex;  
}

.team-list {
    display: flex;
    margin-top: 72px;    
}

.team-item {
    background-color: var(--white-general-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 24px;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
}


.text-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}


.subtitle-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.social-media-item {
    width: 40px;
    height: 40px;

}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: var(--logo-iteam-decor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 8px;
}



.title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
}


.text-team {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}


.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--line-footer-color);
    margin-top: 16px;
    width: 264px;
}


.main-nav {
    display: flex;
    align-items: center;
}


.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}


.hero-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}


.hero-item {
justify-content: center;
background-color: var(--section-team-color);
border: 1px solid var(--line-footer-color);
}


.hero-item:not(:last-child) {
margin-right: 24px;
}


.hero-title-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}


.hero-title-content:nth-child(3) {
    margin-right: 0;
}